{% load static %}
<div class="book">
    <table>
        <thead>
            <tr>
                <td>Book Name</td>
                <td>Author Name</td>
                <td>About</td>
                <td>Price</td>
                <td>Image</td>
                <td>Availability</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {% for Book in all_books %}
            <tr>
                <td>{{Book.book_title}}</td>
                <td>{{Book.book_author}}</td>
                <td>{{Book.about_book}}</td>
                <td>{{Book.book_price}}</td>
                <td><img src="{{Book.book_image.url}}" alt="{{Book.book_title}}" width="200" height="200"></td>
                <td>{{Book.availability}}</td>
                <td>
                    <a href="{% url 'update_book' Book.id %}">
                        <button type="submit">
                            Update
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'deletes_book' Book.id %}">
                        <button type="submit">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>