{% extends "events/base.html" %}

{% block content %}

    <h1>Venue Listing page</h1>
    {% if user.is_authenticated %}
    <table class="table table-striped table-hover table-bordered">
        {% for venu in venue %}
            <tr>
                <td>
                    <a href="{% url 'venue' venu.id %}">{{ venu }}</a>
                </td>
                <td align="right"><a href="{% url 'update-venue' venu.id %}">Update</a>
                    <a href="{% url 'delete-venue' venu.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
{% if venue.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{ venue.previous_page_number }}">Previous</a>
{% endif %}

Page {{ venue.number }} of {{ venue.paginator.num_pages }}

{% if venue.has_next %}
<a href="?page={{ venue.next_page_number }}">Next</a>
<a href="?page={{ venue.paginator.num_pages }}">Last &raquo </a>
{% endif %}

 {% else %}
 You need to login for accessing this page
 <button type="submit" ><a href="{% url 'log-in' %}">Click Here to Login</a></button>
 {% endif %}
    <br>
{% endblock %}