<h1>Tables in Html:</h1>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Roll number
        </th>
    </tr>
    <tr>
        <td>
            Guhan
        </td>
        <td>
            21
        </td>
        <td>
            721821130006
        </td>
    </tr>
    <tr>
        <td>
            Saravana Kumar
        </td>
        <td>
            20
        </td>
        <td>
            721821130020
        </td>
    </tr>
    
</table>
<hr>